.add-ban {
    height: 100%;
    margin-top: 10%;
}

.add-content {
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 100%;
    background-color: #282c34;
}

.add-wrapper {
    display: flex;
    position: relative;
    height: 100%;
}

.add-fields {
    width: 30%
}

.reason-creation, .time-creation {
    width: 50%;
}

.reasons {
    width: 60%;
    display: flex;
}

.add-button {
    padding-top: 20px;
    margin-top: 20px;
    width: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.add-button > .ui-button {
    margin-left: auto;
    margin-right: 0;
    margin-top: 20px;
}

.add-input {
    border: none;
    width: 60%;
    padding: 4px;
    background-color: #202329;
    color: white;
    border-left: 2px solid #009688;
}

.add-info {
    visibility: hidden;
}

#reasons-button {
    width: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#time-button {
    width: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: hidden;
}

#time-custom {
    border-bottom: 2px solid #009688;
}

#reasons-caret {
    font-size: 50%;
}

#time-caret {
    font-size: 50%;
}

.dropdown-reasons {
    position: relative;
    width: 50%;
    visibility: hidden;
    height: 250px;
}

.dropdown-time {
    position: relative;
    width: 50%;
    visibility: hidden;
}

.ui-button-listreasons {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #202329;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-button-time {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #202329;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: hidden;
}

#custom {
    border-bottom: 2px solid #009688;
}

@-webkit-keyframes errorFlash {
    0% {
        background-color: #c21d1d;
    }
    100% {
        background-color: #202329;
    }
}

.errorFlash {
    -webkit-animation-name: errorFlash;
    -webkit-animation-duration: 600ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.add-clear-wrapper {
    background-color: #202329;
}

.add-clear {
    height: 23px;
    width: 23px;
    background: url("/bans/images/add-icon.svg") no-repeat center center;
    background-size: 40%;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
}

.guid-wrapper {
    display: flex;
    max-height: 23px;
}

.guid-button {
    width: 23px;
    height: 23px;
    background: url("/bans/images/search-icon.svg") no-repeat center center;
    background-size: 50%;
    cursor: pointer;
}

#guid-count {
    color: white;
    background-color: #009688;
    padding: 3px;
    cursor: pointer;
    visibility: hidden;
}

#ban-output {
    color: white;
    visibility: hidden;
}
