.login-ui {
    visibility: hidden;
    position: absolute;
    top: 50%;
    margin: -180px 0 0 -200px;
    left: 50%;
    width: 25%;
    height: 40%;
    background-color: #282c34;
}

.login-content {
    text-align: center;
    align-content: center;
    position: absolute;
    margin-top: 15%;
    height: 100%;
    width: 100%;
}

.login-content > .ui-button {
    margin: 0 auto;
    margin-top: 40px;
}

.login-input {
    border: none;
    background-color: #202329;
    padding: 4px;
    width: 50%;
    color: white;
    border-left: 2px solid #009688;
}