body {
    font-family: Ubuntu;
    background-color: #202329;
    color: white;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    visibility: hidden;
}

.sidebar {
    width: 3%;
    background-color: #282c34;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
}

.button {
    width: 100%;
    height: 6%;
    background-color: #282c34;
    border-bottom: 2px solid #282c34;
    cursor: pointer;
}

.button:hover {
    background-color: #202329;
}

.active {
    border-bottom: 2px solid #009688;
}

#button_home {
    background: url("/bans/images/home-icon.svg") no-repeat center center;
    background-size: 30%;
}

#button_menu {
     background: url("/bans/images/menu-icon.svg") no-repeat center center;
     background-size: 30%;
}

#button_add {
    background: url("/bans/images/add-icon.svg") no-repeat center center;
    background-size: 30%;
}

#button_search {
    background: url("/bans/images/search-icon.svg") no-repeat center center;
    background-size: 30%;
}

.menu, .add-ban, .search-bans {
    visibility: hidden;
    left: 0;
    bottom: 0;
}

.ui-button {
    width: 75px;
    background-color: #009688;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.users {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 3%;
    margin-left: 5px;
    margin-bottom: 5px;
}
