.search-bans {
    width: 90%;
    margin: 0 auto;
}

.search-content {
    display: flex;
    justify-content: center;
    background-color: #282c34;
    margin: auto;
    width: 100%;
}

.search-field-wrapper {
    padding: 20px;
    width: 20%;
}

.search-field {
    border: none;
    background-color: #202329;
    padding: 4px;
    color: white;
    border-left: 2px solid #009688;
    width: 100%;
}

.search-wrapper {
    margin: auto;
}

#search-button {
    margin: 20px;
}

#clear-button {
    margin: 20px;
    background-color: #202329;
    border-bottom: 2px solid #009688;
}

.search-results {
    max-width: 100%;
    background-color: #282c34;
    padding: 20px;
    visibility: hidden;
}

.results-wrapper {
    display: flex;
}

.bans-dropdown {
    width: 18%;
}

.bans-dropdown > .ui-button, .bans-reasons-dropdown > .ui-button {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
}

#bans-button {
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bans-reasons-dropdown {
    width: 23%;
    visibility: hidden;
}

#bans-reasons-button {
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-button-bans {
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #202329;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-button-reasons {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #202329;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
}

.display-results {
    width: 82%;
    display: flex;
    margin-left: 15px;
}

.dropdown-bans {
    max-height: 450px;
    overflow: scroll;
}

.results {
    margin-left: 20px;
    visibility: hidden;
    width: 77%;
}

.ban-data {
    color: #009688;
}

.delete-button {
    float: right;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #009688;
    cursor: pointer;
}
