.welcome {
    bottom: 0;
    left: 0;
    visibility: hidden;
    text-align: center;
    margin: 0 auto;
}

.welcome-content {
    position: fixed;
    top: 50%;
    margin: -200px 0 0 -450px;
    left: 50%;
    opacity: 0;
}

.welcome-logo {
    max-height: 150px;
    max-width: 150px;
}

.welcome-text {
    font-size: 300%;
}

#ban-count, #recent-ban, #banned-today, #total-bans {
    color: #009688;
}

#current-user {
    color: #009688;
}

.announcement {
    color: #009688;
    font-size: 150%;
    font-weight: bold;
}